{% extends "base_generic.html" %}

{% block content %}
<h2>Reset Your Password</h2>
<p>Please enter your new password twice below to reset it:</p>

<form method="post" action="{% url 'reset_password_confirm' %}">
    {% csrf_token %}
    <input type="hidden" name="uidb64" value="{{ uidb64 }}" />
    <input type="hidden" name="token" value="{{ token }}" />
    <div>
        <label for="password">New Password:</label>
        <input type="password" id="password" name="password" required />
    </div>
    <div>
        <label for="password2">Confirm Password:</label>
        <input type="password" id="password2" name="password2" required />
    </div>
    <div>
        <button type="submit">Reset Password</button>
    </div>
</form>
{% endblock %}